# object or archive files
*.[oa]
# emacs temporary files
*~
# a local temp directory
tmp/
# any files or directories labeled junk
*junk*/
*junk*
# ignore data directories (may want to change this later)
data/
# the runtime directory
runtime/
# Mac .DS_Store files
.DS_Store
#any makefile logs
make*log
#any files produced from Makefile
Makefile.make
#any GLOBS
GLOB*